HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea/
*.iws
*.iml
*.ipr
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/

.vscode/
*.code-workspace

*.log
logs/
log/

application.properties
application.yaml
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml
application-prod.properties
application-prod.yml
application-staging.properties
application-staging.yml
**/src/main/resources/application-secrets.*

.env
.env.*
!.env.example
*.key
*.pem
*.p12
*.jks
*.keystore
*.truststore
secrets/

.DS_Store
Thumbs.db
desktop.ini

*.pid
*.seed
*.pid.lock

spring-shell.log
transaction.log

.sts4-cache/
.factorypath

.apt_generated
.apt_generated_tests

nb-configuration.xml
nbactions.xml
nbproject/private/

rebel.xml
rebel-remote.xml
.rebel/